<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contest.ichapp.mapper.CollectionMapper">
    <resultMap id="BaseResultMap" type="com.contest.ichapp.pojo.domain.Collection">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="tag_id" jdbcType="VARCHAR" property="tagId"/>
        <result column="museum_id" jdbcType="VARCHAR" property="museumId"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="img_url" jdbcType="VARCHAR" property="img"/>
        <result column="full_img_url" jdbcType="VARCHAR" property="fullImg"/>
    </resultMap>
    <insert id="insertOne">
        insert into collection(`name`, description, location, dynasty_id, museum_id, tag_id, feature, `more`)
        values (#{name}, #{description}, #{location}, #{dynastyId}, #{museumId}, #{tagId}, #{feature}, #{more})
    </insert>
    <update id="updateUrl">
        update collection
        set img_url=#{url},
            full_img_url=#{url}
        where id = #{id}
    </update>
    <select id="selectById" resultMap="BaseResultMap">
        select *
        from collection
        where id = #{id,jdbcType=INTEGER} limit 1
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from collection
        order by rand()
    </select>
    <select id="selectAllLike" resultMap="BaseResultMap">
        select *
        from (collection co
            left join tag t on co.tag_id = t.id)
                 left join museum m on co.museum_id = m.id
        where co.name like concat('%', #{keyword}, '%')
           or co.location like concat('%', #{keyword}, '%')
           or t.name like concat('%', #{keyword}, '%')
           or m.name like concat('%', #{keyword}, '%')
        order by rand()
    </select>
    <select id="selectAllInfoById" resultType="com.contest.ichapp.pojo.dto.vo.MoreInfoVo">
        select co.name         as `name`,
               t.name          as `tag`,
               m.name          as `museum`,
               d.name          as `dynasty`,
               co.feature      as `feature`,
               co.more         as `more`,
               co.full_img_url as `img`
        from ((collection co
            left join tag t on co.tag_id = t.id)
            left join museum m on co.museum_id = m.id)
                 left join dynasty d on d.id = co.dynasty_id
        where co.id = #{collectionId} limit 1
    </select>
    <select id="selectCountAll" resultType="java.lang.Integer">
        select count(*)
        from collection
    </select>
    <select id="randByTagId" resultMap="BaseResultMap">
        select *
        from collection
        where tag_id = #{tagId,jdbcType=INTEGER}
          and id between 1 and 63
        order by rand() limit 1
    </select>
    <select id="selectAllInfoByTransId" resultType="com.contest.ichapp.pojo.domain.Collection">
        select *
        from trans_info t
                 left join collection co on t.collection_id = co.id
        where t.transaction_id = #{transId}
    </select>

</mapper>