<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contest.ichapp.mapper.CollectionMapper">
    <resultMap id="BaseResultMap" type="com.contest.ichapp.pojo.domain.Collection">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="tag_id" jdbcType="VARCHAR" property="tagId"/>
        <result column="museum_id" jdbcType="VARCHAR" property="museumId"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="img_url" jdbcType="VARCHAR" property="img"/>
    </resultMap>
    <select id="selectById" resultMap="BaseResultMap">
        select *
        from collection
        where id = #{id,jdbcType=INTEGER} limit 1
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from collection
    </select>
    <select id="selectAllLike" resultMap="BaseResultMap">
        select *
        from (collection co
            left join tag t on co.tag_id = t.id)
                 left join museum m on co.museum_id = m.id
        where co.name like concat('%', #{keyword}, '%')
           or co.location like concat('%', #{keyword}, '%')
           or t.name like concat('%', #{keyword}, '%')
           or m.name like concat('%', #{keyword}, '%')
    </select>
    <select id="selectAllInfoById" resultType="com.contest.ichapp.pojo.dto.vo.MoreInfoVo">
        select co.name as `naem`,
               t.naem  as `tag`,
               m.name  as `museum`,
               d.name  as `dynasty`
        from ((collection co
            left join tag t on co.tag_id = t.id)
            left join museum m on co.museum_id = m.id)
                 left join dynasty d on d.id = co.dynasty_id
        where co.id = #{collectionId} limit 1
    </select>

</mapper>