<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contest.ichapp.mapper.CollectedMapper">
    <resultMap id="BaseResultMap" type="com.contest.ichapp.pojo.domain.Collected">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="collection_id" jdbcType="VARCHAR" property="collectionId"/>
    </resultMap>
    <insert id="insert">
        insert into collected
        values (#{collectedId,jdbcType=INTEGER}, #{collectionId,jdbcType=INTEGER})
    </insert>
    <delete id="delete">
        delete
        from collected
        where id = #{collectedId,jdbcType=INTEGER}
          and collection_id = #{collectionId,jdbcType=INTEGER} limit 1
    </delete>
    <select id="selectToCount" resultType="java.lang.Integer">
        select count(*)
        from collected
        where id = #{collectedId,jdbcType=INTEGER}
          and collection_id = #{collectionId,jdbcType=INTEGER} limit 1
    </select>

</mapper>