<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contest.ichapp.mapper.HistoryMapper">
    <resultMap id="BaseResultMap" type="com.contest.ichapp.pojo.domain.History">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="collection_id" jdbcType="VARCHAR" property="collectionId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="time" jdbcType="VARCHAR" property="time"/>
        <result column="count" jdbcType="VARCHAR" property="count"/>
    </resultMap>
    <insert id="insertOne">
        insert into history (collection_id, user_id, `time`, `count`)
        values (#{collectionId}, #{userId}, #{time}, #{count})
    </insert>
    <delete id="deleteToUpdate">
        delete
        from history
        where user_id = #{userId}
          and collection_id = #{collectionId}
    </delete>
    <select id="selectAllById" resultType="com.contest.ichapp.pojo.dto.param.HistoryParam">
        select h.id            as id,
               h.collection_id as collectionId,
               h.time          as `time`,
               h.count         as `count`,
               c.name          as `name`,
               c.description   as description,
               c.img_url       as img
        from history h
                 left join collection c on h.collection_id = c.id
        where h.user_id = #{userId}
        order by id desc
    </select>
    <select id="countToUpdate" resultType="java.lang.Integer">
        select count(*)
        from history
        where user_id = #{userId}
          and collection_id = #{collectionId}
    </select>
    <select id="countNum" resultType="java.lang.Integer">
        select `count`
        from history
        where user_id = #{userId}
          and collection_id = #{collectionId}
    </select>
</mapper>