<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contest.ichapp.mapper.LoveMapper">
    <resultMap id="BaseResultMap" type="com.contest.ichapp.pojo.domain.Love">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="collection_id" jdbcType="VARCHAR" property="collectionId"/>
    </resultMap>
    <insert id="insert">
        insert into love
        values (#{userId,jdbcType=INTEGER}, #{collectionId,jdbcType=INTEGER})
    </insert>
    <delete id="delete">
        delete
        from love
        where user_id = #{userId,jdbcType=INTEGER}
          and collection_id = #{collectionId,jdbcType=INTEGER}
    </delete>
    <select id="selectToCount" resultType="java.lang.Integer">
        select count(*)
        from love
        where user_id = #{userId,jdbcType=INTEGER}
          and collection_id = #{collectionId,jdbcType=INTEGER} limit 1
    </select>
    <select id="selectByUserId" resultType="com.contest.ichapp.pojo.domain.Collection">
        select co.id           as `id`,
               co.name         as `name`,
               co.description  as `description`,
               co.location     as `location`,
               co.full_img_url as `fullImg`
        from love l
                 left join collection co on l.collection_id = co.id
        where user_id = #{userId,jdbcType=INTEGER}
    </select>
</mapper>