<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contest.ichapp.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.contest.ichapp.pojo.domain.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>
    <insert id="insertByParam">
        insert into user (username, password)
        values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
    </insert>
    <select id="selectToCheck" resultType="com.contest.ichapp.pojo.dto.vo.UserCheckVo">
        select count(*) as `check`
        from `user`
        where username = #{username,jdbcType=VARCHAR}
          and `password` = #{password,jdbcType=VARCHAR} LIMIT 1
    </select>
    <select id="selectToDistinct" resultType="com.contest.ichapp.pojo.dto.vo.UserCheckVo">
        select count(*) as `check`
        from `user`
        where username = #{username,jdbcType=VARCHAR} LIMIT 1
    </select>
</mapper>